<%- include('partials/header'); %>

<main role="main" class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/catalog/authors">Authors</a></li>
    <li class="breadcrumb-item active"><%= author.name %></li>
  </ol>

  <h1><%= author.name %></h1>
  <p>
    <%= author.date_of_birth_formatted %> - <%= author.date_of_death_formatted %>
    (<%= author.lifespan.years %> years)
  </p>

  <h2>Books</h2>

  <dl>
  <% author_books.forEach(function(book){ %>
    <dt><a href="<%= book.url %>"><%= book.title %></a></dt>
    <dd><%= book.summary %></dd>
  <% }) %>
  </dl>

  <% if (author_books.length == 0) { %>
     <p>This author has no book.</p>
  <% } %>

</div>

<%- include('partials/footer'); %>
