<%- include('partials/header'); %>

<main role="main" class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/catalog/authors">Authors</a></li>
    <li class="breadcrumb-item active"><%= author.name %></li>
  </ol>

  <h1><%= author.name %></h1>
  <p><%= author.date_of_birth %> - <%= author.date_of_death %></p>

  AUTHOR DETAILS!
</div>

<%- include('partials/footer'); %>
