<%- include('partials/header'); %>

<main role="main" class="container">

  <h1><%= title %></h1>

  <% if (typeof errors != 'undefined') { %>
    <% errors.forEach(function(error){ %>
      <div class="alert alert-danger" role="alert">
        <%= error.msg %>
      </div>
    <% }) %>
  <% } %>

  <form action="" method="POST">
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="input" name="first_name" class="form-control" id="first_name" placeholder="First name (Christian) last" value="<%= typeof author!='undefined' ? author.first_name : '' %>" required="true">
    </div>
    <div class="form-group">
      <label for="family_name">Family Name:</label>
      <input type="input" name="family_name" class="form-control" id="family_name" placeholder="Family name (surname)" value="<%= typeof author!='undefined' ? author.family_name : '' %>"  required="true">
    </div>
    <div class="form-group">
      <label for="date_of_birth">Date of birth:</label>
      <input type="date" name="date_of_birth" class="form-control" id="date_of_birth" value="<%= typeof author!='undefined' ? author.date_of_birth : '' %>">
    </div>
    <div class="form-group">
      <label for="date_of_death">Date of death:</label>
      <input type="date" name="date_of_death" class="form-control" id="date_of_death" value="<%= typeof author!='undefined' ? author.date_of_death : '' %>">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<%- include('partials/footer'); %>
