<%- include('partials/header'); %>

<main role="main" class="container">
  <% book_list.forEach(function(book){ %>
    <li>
      <a href="<%= book.url %>"><%= book.title %></a> (<%= book.author.name %>)
    </li>
  <% }); %>
</div>

<%- include('partials/footer'); %>
