<%- include('partials/header'); %>

<main role="main" class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="/catalog/books">Books</a></li>
    <li class="breadcrumb-item active"><%= book.title %></li>
  </ol>

  <h1><%= book.title %></h1>

  <p><strong>Author:</strong> <a href="<%= book.author.url %>"><%= book.author.name %></a></p>
  <p><strong>Summary:</strong> <%= book.summary %></p>
  <p><strong>ISBN:</strong> <a href="https://isbnsearch.org/isbn/<%= book.isbn %>" target="_blank"><%= book.isbn %></a></p>

  <h2>Copies</h2>

  <% book_instances.forEach(function(val){ %>
    <hr>
    <%if (val.status=='Available') { %>
      <p class="badge badge-success"><%= val.status %></p>
    <% } else if (val.status=='Maintenance') { %>
      <p class="badge badge-danger"><%= val.status %></p>
    <% } else { %>
      <p class="badge badge-warning"><%= val.status %></p>
    <% } %>
    <p><%= val.imprint %></p>
    <%if (val.status!='Available') { %>
      <p><strong>Due back:</strong> <%= val.due_back_formatted %></p>
    <% } %>
    <p><strong>Id:</strong> <a href="<%= val.url %>"><%= val._id %></a></p>
  <% }) %>

  <% if (book_instances.length == 0) { %>
     There is no instance of this book.
  <% } %>

</div>

<%- include('partials/footer'); %>
