<%- include('partials/header'); %>

<main role="main" class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Book Instances</li>
  </ol>

  <h1>Book instances list</h1>

  <% bookinstance_list.forEach(function(val){ %>
    <li>
      <a href="<%= val.url %>"><%= val.book.title %></a> - <%= val.imprint %>
      <%if (val.status=='Available') { %>
        <span class="badge badge-success"><%= val.status %></span>
      <% } else if (val.status=='Maintenance') { %>
        <span class="badge badge-danger"><%= val.status %></span>
      <% } else { %>
        <span class="badge badge-warning"><%= val.status %></span>
      <% } %>
      <%if (val.status!='Available') { %>
        <span><%= val.due_back_formatted %></span>
      <% } %>
    </li>
  <% }) %>

</div>

<%- include('partials/footer'); %>
