<%- include('partials/header'); %>

<main role="main" class="container">
  <h1>Genre: <%= genre.name %></h1>
  <% genre_books.forEach(function(book){ %>
    <dl>
      <dt><a href="<%= book.url %>"><%= book.title %></a></dt>
      <dd><%= book.summary %></dd>
    </dl>
  <% }) %>
</div>

<%- include('partials/footer'); %>
