<!-- views/index.ejs -->
<%- include('partials/header'); %>

<main role="main" class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Books: <%= data.book_count %></p>
  <p>Copies: <%= data.book_instance_count %></p>
  <p>Copies available: <%= data.book_instance_available_count %></p>
  <p>Authors: <%= data.author_count %></p>
  <p>Genres: <%= data.genre_count %></p>
</div>

<%- include('partials/footer'); %>
